body {
  font: 24px Helvetica;
  background: #999;
}
#main {
  min-height: 800px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: row;
}
#main article {
  padding: 30px;
  border: 2px solid #303030;
  background: #dd8;
  flex: 3 1 60%;
  order: 2;
}
#main nav {
  padding: 30px;
  border: 2px solid #303030;
  background: #ccf;
  flex: 1 6 20%;
  order: 1;
  text-align: right;
}
#main aside {
  padding: 30px;
  border: 2px solid #303030;
  background: #ccf;
  flex: 1 6 20%;
  order: 3;
  font-style: italic;
}
header,
footer {
  min-height: 100px;
  display: block;
  padding: 20px 10px 0px 30px;
  border: 2px solid #303030;
  background: #feb;
}
header {
  font-size: 180%;
  font-weight: bold;
}
footer {
  font-size: 75%;
}
@media all and (max-width: 640px) {
  #main,
  #page {
    flex-direction: column;
  }
}
/*
* Return them to document order
*    #main > article, #main > nav, #main > aside
*        order: 0
*/
#main > nav {
  order: 1;
/* navigation links are left aligned on mobile */
  text-align: left;
}
#main > article {
  order: 2;
}
#main > aside {
  order: 3;
}
#main > nav,
#main > aside,
header,
footer {
  min-height: 50px;
  max-height: 50px;
}
